.li-style {
    font-size: 14px;
}
.li-style:hover{
    text-decoration: underline 2px solid  springgreen;
}

body{
   
}

.btn-style{
    border: 2px solid none;
    border-radius: 50px;
    padding: 17px 50px;
    background-color:white;
}
.btn-style:hover{
    color: red;
    border: 2px solid red;
}

.bg-img{
    background-size:cover;
    height: 100vh;
    width: 100%;
}

.bg-footer{
    /* background-color:white; */
    background-color:azure;
}
.icon a{
    color: black;
    font-size: 30px;
    margin-top: 52px;
}